<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">

<head>
    <title></title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <base href="/" />
</head>

<body ng-controller="IndexController as indexcontroller" ng-cloak>

    <!-- Header that will be present on all pages -->
    <div>
        <a href="/">Home</a> /
        <a href="/items">Items</a> /
        <a href="/about">About</a> /
        <a ui-sref="about">((Why won't this work?))</a>
    </div>



    <br />
    {{indexcontroller.message}}

    <hr />
    $state.current.templateUrl = {{indexcontroller.$state.current.templateUrl}}((Why won't this work?))
    

    <!-- Main injection point -->
    <hr />
    <br />
    <ui-view></ui-view>

    <!-- Footer that will be present on all pages -->
    <hr />
    <br />
    FOOTER

    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    @*<script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>*@
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/indexController.js"></script>
    <script src="~/ngApp/controllers/homeController.js"></script>
    <script src="~/ngApp/controllers/aboutController.js"></script>
    <script src="~/ngApp/controllers/itemsController.js"></script>
</body>

</html>